
:root {
  font-size: calc(0.5vw + 1vh);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar{
  box-shadow: 0px 6px 6px -4px rgba(0,0,0,.5);
  background-color: #50505c;
  }
.navbar a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
}
.navbar a:hover {
  color: rgb(3, 3, 3);
}

.nav-link,
.navbar-brand {
    letter-spacing: 4px;
    cursor: pointer;   
}
.nav-link {
    margin-right: 1.5em;
}

.navbar-collapse {
    justify-content: flex-end;
}
.todo{
  box-shadow: -6px 8px 8px -6px rgba(20, 20, 20, 0.5);
  background-color: #302e2e;
}
