
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Toggle Styles */
.navbar{
  padding:15px;
}

.nav-link,
.navbar-brand {
 letter-spacing: 3px;
 cursor: pointer;   
}
.nav-link {
 margin-right: 1em;
}

.navbar-collapse {
 justify-content: flex-end;
}

.navbar a {
  color: #d5d5d5;
  text-decoration:underline;
  font-size: 17px;
  text-decoration-color: 1a1a1a;
  text-decoration-thickness: 2px;
}

.navbar a:hover {
  color:#1a1a1a;
}

.todo{
    padding: .3em;
    background-color: #4c5463;
}

form{
 margin-left: 10em;
}
